<section class="TodoSection">
  <div class="TodoSectionTitle">
    <h2 class="TodoSection-title"><%= section_title %></h2>
    <p class="Completed-Label"><%= todos.completed.count %>/<%= todos.count %></p>
  </div>
  <ul>
    <% todos.each do |todo| %>
        <li class="TodoItem">
          <div class="TodoItem-container">
            <%= form_with(url: "/todos/#{todo.id}" , method: "put") do %>
              <% check = (todo.completed)? "checked": "" %>
              <input
              class="TodoSection-checkbox"
              name="completed"
              type="checkbox" <%=check%>
              onclick="this.form.submit()"
              />
            <% end %>

            <%class_name = (todo.completed)? "Todo-Display-Completed": "Todo-Display"%>
            <p class=<%=class_name%>><%= todo.todo_text %></p>

            <% if show_due_date %>
              <p class="TodoItem-dueDate"><%= todo.due_date.to_s(:short) %> </p>
            <% end %>
            <a class="TodoItem-delete ">
              <%=form_with(url: "/todos/#{todo.id}" , method: "delete") do %>
                <input type="image" src="trash.svg">
              <% end %>
            </a>
          </div>
        </li>
   <% end %>
  </ul>
</section>
