<main class="TodoPageMain">
  <article>
    <%=content_tag(:h1 , class: "TodoPage-Title") do-%>
      My Todo-list
    <% end -%>
    <%=form_with(url: "/todos", method: "post", class: "TodoSectionTitle") do %>
      <%=text_field_tag('todo_text', '' ,placeholder: "What's next", class: 'TodoSection-text' )%>
      <%=date_field_tag('due_date',nil,class: "TodoSection-date") %>
      <%=button_tag("Add",type: "submit",class: "TodoSection-button") %>
    <% end %>

    <%= render partial: "todo-section", locals: {
      section_title:"Overdue",
      todos: @todo.overdue,
      show_due_date: true
      }  %>
    <%= render partial: "todo-section",locals:{
      section_title: "Due Today",
      todos: @todo.due_today,
      show_due_date: false
    } %>
    <%= render partial: "todo-section", locals:{
      section_title: "Due Later",
      todos: @todo.due_later,
      show_due_date: true
    } %>

  </article>
  </main>
